# SPDX-FileCopyrightText: 2023 Ralf Konrad Eckel
# SPDX-License-Identifier: MIT

---
HeaderFilterRegex: '.*/src/.*'
FormatStyle: file
CheckOptions:
  - key:   cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 1
  - key:   modernize-make-shared.MakeSmartPtrFunction
    value: ext::make_shared
  - key:   modernize-make-shared.MakeSmartPtrFunctionHeader
    value: <ql/shared_ptr.hpp>
  - key:   modernize-use-default-member-init.UseAssignment
    value: 1
Checks: >
    *,
    -abseil-*,
    -altera-*,
    -android-*,
    -cert-*,
    -darwin-*,
    -fuchsia-*,
    -linuxkernel-*,
    -llvmlibc-*,
    -mpi-*,
    -objc-*,
    -openmp-*,
    -zircon-*,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
    -misc-include-cleaner,
    -misc-multiple-inheritance,
    -misc-non-private-member-variables-in-classes,
    -misc-override-with-different-visibility,
    -readability-identifier-length,
    -readability-magic-numbers,
    -google-readability-braces-around-statements,
    -misc-use-anonymous-namespace,
    -llvm-prefer-static-over-anonymous-namespace,
    -google-build-using-namespace,
    -google-readability-namespace-comments,
    -llvm-header-guard,
    -llvm-include-order,
    -llvm-namespace-comment,
    -modernize-use-trailing-return-type,
...
