# SPDX-FileCopyrightText: 2023 Ralf Konrad Eckel
# SPDX-License-Identifier: MIT

---
Language: Cpp
Standard: c++17

BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 100
NamespaceIndentation: All
MaxEmptyLinesToKeep: 2
# Mirror of -google-readability-namespace-comments and -llvm-namespace-comment
# in .clang-tidy.
FixNamespaceComments: false

BinPackParameters: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true

DerivePointerAlignment: false
PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<rke/'
    Priority: 2
  - Regex: '^<ql/'
    Priority: 4
  - Regex: '^<boost/'
    Priority: 5
  - Regex: '^<'
    Priority: 6

AlignEscapedNewlines: Left
BreakBeforeTernaryOperators: false
ConstructorInitializerIndentWidth: 0
SortUsingDeclarations: false
IndentCaseLabels: true
IndentPPDirectives: AfterHash

QualifierAlignment: Left

...
